[Unit]
Description=Run on first boot only
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/local/bin/clone
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target